:root {
  font-size: 1em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
section {
  font-family: sans-serif;
}
img {
  border-radius: 0.75em;
}
body {
  width: 100vw;
  height: 100vh;
  background: #202020;
  color: #e7e7e7;
  font-size: 1rem;
  font-family: Helvetica;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  overflow-x: hidden;
}
hr {
  border: 1px solid #545454;
  margin: 1.5em 0;
}
header {
  float: right;
}
header h1 {
  font-size: 0.75rem;
  color: #de8190;
  animation: fade-color 10s ease-in infinite alternate;
}
@keyframes fade-color {
  from {
    color: #de8190;
  }
  to {
    color: #6bbcdf;
  }
}
article,
aside {
  padding-left: 2em;
}
aside {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
aside small {
  float: right;
  color: #adadad;
  margin-top: 0.25rem;
}
section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
h2 {
  padding-bottom: 0.5em;
}
p {
  line-height: 1.2rem;
  text-justify: inter-word;
}
a {
  color: #de8190;
  text-decoration: none;
  transition: color 200ms ease-in-out;
  position: relative;
}
a:hover {
  color: #6bbcdf;
}
a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background: #de8190;
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  transition: 200ms ease-in-out;
}
p {
  margin: 0 0 0.25em 2em;
}
ul {
  margin-left: 2em;
  padding-bottom: 1em;
}
li::first-letter,
p::first-letter,
h1::first-letter,
h2::first-letter {
  text-transform: uppercase;
}
.content {
  width: 75vw;
  height: 100%;
  padding: 2em;
  background-color: #252525;
}
.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2em;
}
.title h1,
.title small {
  line-height: 1.2em;
}
.mc-meme {
  width: 25vw;
  aspect-ratio: 5/3;
}
.space {
  height: 20em;
}
.half {
  width: 100%;
}
